.movies-card-list {
  margin: 0;
  padding: 0;
  max-width: 1140px;
  margin: 70px auto 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px 30px;
  flex-grow: 1;
  align-items: flex-start;
}

.movies-card-list__btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--dark-line);
  max-width: 320px;
  width: 100%;
  margin: 50px auto 80px;
  padding: 11px 0 9px;
  border-radius: 5px;
  font-size: 12px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 15px;
  transition: 0.3s opacity;
}

.movies-card-list__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1240px) {
  .movies-card-list {
    grid-template-columns: repeat(2, minmax(300px, 360px));
    gap: 47px 30px;
  }
}

@media screen and (max-width: 828px) {
  .movies-card-list {
    padding: 0 30px;
  }
}

@media screen and (max-width: 720px) {
  .movies-card-list {
    box-sizing: border-box;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 40px;
    gap: 36px;
  }
}

@media screen and (max-width: 604px) {
  .movies-card-list {
    padding: 0 20px;
  }
}

@media screen and (max-width: 510px) {
  .movies-card-list {
    padding: 0 10px;
  }

  .movies-card-list__btn {
    max-width: 240px;
  }
}
