.movies-card-list {
  margin: 0;
  padding: 0;
  max-width: 1140px;
  margin: 70px auto 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
}

.movies-card-list__item {
  list-style: none;
}

.movies-card-list__link {
  text-decoration: none;
  transition: 0.3s opacity;
}

.movies-card-list__link:hover {
  opacity: 0.8;
}

.movies-card-list__img {
  border-radius: 6px;
  margin-bottom: 14px;
}

.movies-card-list__inner {
  display: flex;
  justify-content: space-between;
}

.movies-card-list__title {
  margin: 0;
  max-width: 250px;
  font-size: 13px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 16px;
}

.movies-card-list__time {
  margin: 0;
  max-width: 44px;
  font-size: 11px;
  color: var(--color-third);
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  padding: 3px 4px;
  background-color: var(--bg-grey);
  border-radius: 3px;
}
