.movies-card__item {
  list-style: none;
}

.movies-card__link {
  text-decoration: none;
  transition: 0.3s opacity;
}

.movies-card__link:hover {
  opacity: 0.8;
}

.movies-card__img {
  border-radius: 6px;
  margin-bottom: 14px;
}

.movies-card__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 16px;
}

.movies-card__title {
  margin: 0;
  max-width: 250px;
  font-size: 13px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 16px;
}

.movies-card__time {
  margin: 0;
  max-width: 44px;
  font-size: 11px;
  color: var(--color-third);
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  padding: 3px 4px;
  background-color: var(--bg-grey);
  border-radius: 3px;
}
