.profile {
  max-width: 410px;
  width: 100%;
  margin: 74px auto 0;
}

.profile__title {
  margin: 0;
  font-size: 24px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin-bottom: 123px;
}

.profile__form {
}

.profile__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 17px;
  border-bottom: 1px solid var(--dark-line);
}

.profile__row:last-of-type {
  padding-bottom: 0;
  margin-bottom: 214px;
  border-bottom: none;
}

.profile__label {
  max-width: 141px;
  font-size: 11px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 13px;
}

.profile__input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 11px;
  color: var(--color-primary);
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  transition: 0.3s opacity;
}

.profile__input:hover {
  opacity: 0.8;
}

.profile__input:focus {
  opacity: 0.8;
}

.profile__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 13px;
  color: var(--color-primary);
  font-weight: 400;
  line-height: 16px;
  transition: 0.3s opacity;
}

.profile__btn:hover {
  opacity: 0.8;
}

.profile__btn_color_red {
  margin-top: 16px;
  color: var(--color-error);
}

@media screen and (max-width: 786px) {
  .profile {
    margin-top: 236px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__row {
    margin-bottom: 16px;
    padding-bottom: 14px;
  }

  .profile__row:last-of-type {
    margin-bottom: 206px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    margin-top: 70px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__row:last-of-type {
    margin-bottom: 374px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    box-sizing: border-box;
    max-width: none;
    padding: 0 30px;
  }
}
