:root {
  --ff: "Inter", "Arial", sans-serif;
  --color-primary: #fff;
  --color-secondary: #000;
  --color-third: #8b8b8b;
  --color-blue: #4285f4;
  --color-error: #ee3465;
  --bg: #202020;
  --bg-primary: #3ddc84;
  --bg-secondary: #272727;
  --bg-dark-grey: #303030;
  --bg-light-grey: #424242;
  --bg-blue: #4285f4;
  --bg-white: #fff;
  --bg-grey: #2f2f2f;
  --bg-user: #313131;
  --line: #dadada;
  --light-line: #fff;
  --dark-line: #424242;
  --line-grey: #e6e6e6;
}
