.promo {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 493px;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 0;
  margin-top: 160px;
  font-size: 50px;
  color: var(--color-primary);
  font-weight: 400;
  line-height: 58px;
  max-width: 730px;
  text-align: center;
  display: flex;
  flex-grow: 1;
}
