.search-form {
  font-family: inherit;
  max-width: 1140px;
  margin: 54px auto 29px;
  position: relative;
  width: 100%;
}

.search-form__label {
  position: relative;
}

.search-form__icon {
  cursor: pointer;
  position: absolute;
  top: -15px;
  left: 0;
  padding: 6px;
  border: 1px solid var(--dark-line);
  border-radius: 50%;
}

.search-form__input {
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid var(--dark-line);
  padding: 15px 100px 15px 50px;
  font-size: 28px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 34px;
  transition: 0.3s border-color;
}

.search-form__input:focus {
  border-color: var(--light-line);
}

.search-form__input::placeholder {
  font-size: 28px;
  color: var(--color-third);
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  position: relative;
  left: 20px;
}

.search-form__btn {
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 15px;
  right: 0;
  background-color: var(--bg-blue);
  background-image: url(../../images/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  width: 80px;
  height: 34px;
  border-radius: 48px;
  transition: 0.4s;
}

.search-form__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .search-form {
    max-width: none;
    box-sizing: border-box;
    padding: 0 30px;
  }

  .search-form__btn {
    right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin: 68px auto 29px;
  }
}

@media screen and (max-width: 692px) {
  .search-form {
    margin: 86px auto 44px;
    padding: 0 14px;
  }

  .search-form__input {
    padding: 11px 90px 11px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__input::placeholder {
    text-align-last: left;
    top: -3px;
    left: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__btn {
    right: 14px;
    bottom: 9px;
  }
}
