.register {
  font-family: inherit;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.register__label {
}

.register__heplper-text {
  font-size: 10px;
  color: var(--color-third);
  font-weight: 400;
  line-height: 12px;
}

.register__input {
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: var(--bg-grey);
  border-radius: 8px;
  font-size: 13px;
  color: var(--color-primary);
  font-weight: 400;
  line-height: 16px;
  margin: 10px 0;
  transition: 0.3s opacity;
}

.register__input:hover {
  opacity: 0.8;
}

.register__input:focus {
  opacity: 0.8;
}

.register__error {
  margin: 0;
  display: none;
  font-size: 10px;
  color: var(--color-error);
  font-weight: 400;
  line-height: 12px;
  opacity: 0;
  transition: 0.3s opacity;
}

.register__error_show {
  opacity: 1;
  display: block;
}

.register__btn {
  cursor: pointer;
  border: none;
  padding: 14px 0;
  background-color: var(--bg-blue);
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  color: var(--color-primary);
  font-weight: 500;
  line-height: 17px;
  margin: 69px 0 16px;
  transition: 0.3s opacity;
}

.register__btn:hover {
  opacity: 0.8;
}

.register__text {
  margin: 0;
  font-size: 14px;
  color: var(--color-third);
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.register__link {
  text-decoration: none;
  margin-left: 6px;
  font-size: 14px;
  color: var(--color-blue);
  font-weight: 400;
  line-height: 17px;
  transition: 0.3s opacity;
}

.register__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .register {
    box-sizing: border-box;
    max-width: none;
    padding: 0 30px;
  }

  .register__btn {
    margin-top: 158px;
    font-size: 12px;
    line-height: 15px;
  }

  .register__text {
    font-size: 12px;
    line-height: 15px;
  }

  .register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
